name: Benchmarks

on:
  push:
    branches:
      - "master"
  pull_request:
  workflow_dispatch:

jobs:
  rust:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5

      - uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@v2

      - run: cargo install cargo-codspeed --force

      - run: cargo codspeed build -p jsonschema -p referencing

      - uses: CodSpeedHQ/action@v4
        with:
          run: cargo codspeed run -p jsonschema -p referencing
          mode: "instrumentation"
          token: ${{ secrets.CODSPEED_TOKEN }}
