name: Python Release

on:
  push:
    tags:
      - python-v*
  workflow_dispatch:

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  PACKAGE_NAME: jsonschema_rs
  PYTHON_ABI_VERSION: "3.10"
  PYPY_VERSION: "pypy3.11"

jobs:
  sdist:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5

      - uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@v2

      - uses: astral-sh/setup-uv@v7

      - run: uv python install "3.12"

      - run: uv build --sdist --out-dir dist
        working-directory: crates/jsonschema-py

      - run: uv venv
        working-directory: crates/jsonschema-py

      - name: Install sdist
        run: |
          uv pip install dist/${{ env.PACKAGE_NAME }}-*.tar.gz --force-reinstall
        working-directory: crates/jsonschema-py

      - name: Upload sdist
        uses: actions/upload-artifact@v5
        with:
          name: sdist
          path: crates/jsonschema-py/dist

  macos-x86_64:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
      - name: Install Python
        run: uv python install ${{ env.PYTHON_ABI_VERSION }}
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-apple-darwin
      - name: Build wheels - x86_64
        uses: messense/maturin-action@v1
        with:
          target: x86_64
          args: --release -m crates/jsonschema-py/Cargo.toml --out dist --interpreter ${{ env.PYTHON_ABI_VERSION }}
      - name: Install built wheel - x86_64
        run: |
          uv venv --python ${{ env.PYTHON_ABI_VERSION }}
          uv pip install dist/${{ env.PACKAGE_NAME }}-*.whl --force-reinstall
      - name: Upload wheels
        uses: actions/upload-artifact@v5
        with:
          name: wheel-macos-x86_64
          path: dist

  macos-universal:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
      - name: Install Python
        run: uv python install ${{ env.PYTHON_ABI_VERSION }}
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: aarch64-apple-darwin,x86_64-apple-darwin
      - name: Build wheels - universal2
        uses: messense/maturin-action@v1
        with:
          args: --release -m crates/jsonschema-py/Cargo.toml --target universal2-apple-darwin --out dist --interpreter ${{ env.PYTHON_ABI_VERSION }}
      - name: Install built wheel - universal2
        run: |
          uv venv --python ${{ env.PYTHON_ABI_VERSION }}
          uv pip install dist/${{ env.PACKAGE_NAME }}-*universal2.whl --force-reinstall
      - name: Upload wheels
        uses: actions/upload-artifact@v5
        with:
          name: wheel-macos-universal
          path: dist

  windows:
    runs-on: windows-2022
    strategy:
      matrix:
        target: [ x64, x86 ]
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_ABI_VERSION }}
          architecture: ${{ matrix.target }}
      - uses: dtolnay/rust-toolchain@stable
      - name: Build wheels
        uses: messense/maturin-action@v1
        with:
          target: ${{ matrix.target }}
          args: --release -m crates/jsonschema-py/Cargo.toml --out dist --interpreter ${{ env.PYTHON_ABI_VERSION }}
      - name: Install built wheel
        shell: bash
        run: |
          uv venv --python ${{ env.PYTHON_ABI_VERSION }}
          uv pip install dist/${{ env.PACKAGE_NAME }}-*.whl --force-reinstall
      - name: Upload wheels
        uses: actions/upload-artifact@v5
        with:
          name: wheel-windows-${{ matrix.target }}
          path: dist

  linux:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        target: [ x86_64, i686, aarch64 ]
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_ABI_VERSION }}
      - name: Build wheels
        uses: messense/maturin-action@v1
        with:
          target: ${{ matrix.target }}
          manylinux: auto
          args: --release -m crates/jsonschema-py/Cargo.toml --out dist --interpreter ${{ env.PYTHON_ABI_VERSION }}
      - name: Install built wheel on native architecture
        if: matrix.target == 'x86_64'
        run: |
          uv venv --python ${{ env.PYTHON_ABI_VERSION }}
          uv pip install dist/${{ env.PACKAGE_NAME }}-*.whl --force-reinstall
      - uses: uraimo/run-on-arch-action@v3
        if: matrix.target == 'aarch64'
        name: Install built wheel on ARM architecture
        with:
          base_image: '--platform=linux/aarch64 ubuntu:22.04'
          githubToken: ${{ github.token }}
          install: |
            export TZ=UTC
            export DEBIAN_FRONTEND=noninteractive
            apt-get update
            apt-get install -y --no-install-recommends software-properties-common gpg gpg-agent curl
            add-apt-repository ppa:deadsnakes/ppa
            apt-get update
            apt-get install -y python${{ env.PYTHON_ABI_VERSION }}-dev python${{ env.PYTHON_ABI_VERSION }}-venv
          run: |
            python${{ env.PYTHON_ABI_VERSION }} -m venv venv
            venv/bin/pip install -U pip wheel
            venv/bin/pip install ${{ env.PACKAGE_NAME }} --no-index --find-links dist/ --force-reinstall
      - name: Upload wheels
        uses: actions/upload-artifact@v5
        with:
          name: wheel-linux-${{ matrix.target }}
          path: dist

  pypy:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: macos-15
            target: x86_64
            artifact: wheel-macos-pypy
            manylinux: ''
          - os: windows-2022
            target: x64
            artifact: wheel-windows-pypy
            manylinux: ''
          - os: ubuntu-22.04
            target: x86_64
            artifact: wheel-linux-pypy
            manylinux: auto
          - os: ubuntu-22.04
            target: aarch64
            artifact: wheel-linux-pypy-aarch64
            manylinux: 2_24

    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYPY_VERSION }}
      - name: Get Python path
        shell: bash
        run: |
          if [[ "$RUNNER_OS" == "Windows" ]]; then
            python_path=$(python -c "import sys; print(sys.executable)")
          else
            python_path=$(which python || which python3)
          fi
          echo "PYTHON_PATH=$python_path" >> "$GITHUB_ENV"
          "$python_path" --version
      - uses: dtolnay/rust-toolchain@stable
      - name: Add macOS x86_64 target
        if: runner.os == 'macOS'
        run: rustup target add x86_64-apple-darwin
      - name: Build wheels - PyPy (manylinux)
        if: ${{ matrix.manylinux != '' }}
        uses: messense/maturin-action@v1
        with:
          target: ${{ matrix.target }}
          manylinux: ${{ matrix.manylinux }}
          args: --release -m crates/jsonschema-py/Cargo.toml --out dist --interpreter ${{ env.PYPY_VERSION }}
      - name: Build wheels - PyPy
        if: ${{ matrix.manylinux == '' }}
        uses: messense/maturin-action@v1
        with:
          target: ${{ matrix.target }}
          args: --release -m crates/jsonschema-py/Cargo.toml --out dist --interpreter ${{ env.PYTHON_PATH }}
      - name: Install built wheel - PyPy
        if: ${{ matrix.target != 'aarch64' }}
        run: |
          uv venv --python ${{ env.PYPY_VERSION }}
          uv pip install dist/${{ env.PACKAGE_NAME }}-*.whl --force-reinstall
      - name: Upload wheels
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.artifact }}
          path: dist

  release:
    name: Release
    runs-on: ubuntu-22.04
    needs:
      - sdist
      - macos-x86_64
      - macos-universal
      - windows
      - linux
      - pypy
    if: "startsWith(github.ref, 'refs/tags/')"
    steps:
      - uses: actions/download-artifact@v6
        with:
          path: all
      - name: Merge files
        run: |
          mkdir dist
          mv all/*/* dist
      - name: Publish distribution package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
